.dropdowns {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
}
.animated {
    -webkit-animation-duration: 10s;
    margin-bottom: 30px;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(30px);
    }
    80% {
       -webkit-transform: translateY(-10px);
    }
    100% { 
       -webkit-transform: translateY(0);
    }
}
@keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
} 

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 2s;
}

 .fade-in-text {
    font-family: Arial;
    font-size: 15px;
    opacity: 0;
    animation: fadeIn 7s;
    animation-fill-mode: forwards;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text {
    padding-bottom: 15px;
}
.time {
   margin-top: 15px;
}
.main {
   font-family: 'Calligraffitti', cursive;
   font-weight: 700;
   font-size: 25px;
   position: absolute;
   text-shadow: -15px 5px 20px #ced0d3;
   top: 20%;
   left: 50%;
   transform: translate(-50%,-50%);
   letter-spacing: 0.02em;
   text-align: center;
   color: #ffffff;
   text-shadow: 2px 2px 0px #FFB650, 
     3px 3px 0px #FFD662, 
     4px 4px 0px  #FF80BF, 
     5px 5px 0px #EF5097, 
     6px 6px 0px #6868AC, 
     7px 7px 0px #90B1E0;
 }
 body {
   background: #6868AC;
 }