* {
    background: #292929;
}
.main {
text-align: center;
padding: 12px;
color: white;
border: 2px solid #252323;
}

.dropdowns {
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    padding: 6px;
}
.bold {
color: #ff16ec;
font-weight: 700px;
}
.base {
color: white;
font-weight: 350px;
}
.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(30px);
    }
    80% {
       -webkit-transform: translateY(-10px);
    }
    100% { 
       -webkit-transform: translateY(0);
    }
}
@keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(30px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
} 

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 2s;
}

 .fade-in-text {
    font-family: Arial;
    font-size: 15px;
    animation: fadeIn 5s;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text {
    padding-bottom: 15px;
}